[submodule "src/thirdparty/kalman"]
	path = src/thirdparty/kalman
	url = https://github.com/mherb/kalman.git
[submodule "src/thirdparty/eigen"]
	path = src/thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
